# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Secret keys
instance/

# Environment variables
.env

# Logs and databases
*.log
*.db
*.joblib

# User uploaded files
uploads/

# Virtual environment
venv/

# Database
instance/