{% load static %}
<header :class="{'translate-x-0 z-20 bg-blue-200 shadow-2xl rounded-r-xl':!open_menu}" class="fixed -translate-x-full md:translate-x-0 w-full left-0 md:relative max-w-[300px] min-h-screen md:w-20 hover:w-full ease-in-out duration-300 h-full md:bg-[#1C406D] group">
    <figure class="h-full min-h-20 max-h-20 w-full flex items-center justify-center">
        <!-- <img src="{% static 'images/logo.png' %}" class="block group-hover:block md:hidden" :class="{'block':!open_menu}"  alt="logo" />
        <img src="{% static 'images/small_logo.png' %}"  class="hidden md:block group-hover:hidden object-contain p-2" alt="logo" /> -->
    </figure>
    <ul class="w-full font-regular">
        <li class="p-2">
            <a href="/" class="flex gap-5 items-center p-3 hover:bg-gray-500/20 rounded-md">
                <figure class="w-full h-full max-w-8 max-h-8 ">
                    <img src="{% static 'images/dashboard.png'%}" class="w-full h-full object-contain" />
                </figure>
                <span class="md:hidden group-hover:block text-white font-regular" :class="{'block':!open_menu}">Dashboard</span>
            </a>
        </li>
        <li class="p-2">
            <a href="/notifications" class="flex gap-5 items-center p-3 hover:bg-gray-500/20 rounded-md">
                <figure class="w-full h-full max-w-8 max-h-8 ">
                    <img src="{% static 'images/notification.svg'%}" class="w-full h-full object-contain" />
                </figure>
                <span class="md:hidden group-hover:block text-white font-regular">Notification</span>
            </a>
        </li>
        <li class="p-2">
            <a href="/settings" class="flex gap-5 items-center p-3 hover:bg-gray-500/20 rounded-md">
                <figure class="w-full h-full max-w-8 max-h-8 ">
                    <img src="{% static 'images/settings.svg'%}" class="w-full h-full object-contain" />
                </figure>
                <span class="md:hidden group-hover:block text-white font-regular">Settings</span>
            </a>
        </li>
        <li class="p-2 md:[&:last-child]:absolute w-full bottom-0">
            <a href="{% url 'logout' %}" class="flex gap-5 items-center p-3 hover:bg-gray-500/20 rounded-md">
                <figure class="w-full h-full max-w-8 max-h-8 ">
                    <img src="{% static 'images/logout.svg'%}" class="w-full h-full object-contain" />
                </figure>
                <span class="md:hidden group-hover:block text-white font-regular">Logout</span>
            </a>
        </li>
    </ul>
</header>
