<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Monitoring of Accounts{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-screen h-full flex">
        {% include 'components/sidebar.html' %}
        <main class="w-full "> 
            {% block content %}{% endblock %}
        </main>
</body>
</html>