<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}
    Monitoring of Accounts
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="w-screen h-full flex" x-data="{open_menu:false}">
  {% include 'components/sidebar.html' %}
  {% block content %}
  {% endblock %}

<script src="{% static 'js/script.js' %}"></script>
</body>

</html>